<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.spring.infrastructure.mybatis.mapper.CommonMapper">

    <select id="getSequence" parameterType="java.util.Map" resultType="HashMap"  >
    	
    	<![CDATA[
			select nextval(#{seqName}) as nextval
		
    	]]>
		
    </select>

    <select id="getCategory" parameterType="java.util.Map" resultType="HashMap"  >
    	
    	<![CDATA[
			select category_id categoryId,category_nm categoryNm,up_category_id upCategoryId 
				from itcatg
				where category_id=#{categoryId}
		
    	]]>
		
    </select>
    
	<select id="getBrandSearchList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	    	<![CDATA[
			select brand_id codeId,brand_nm codeNm
				from itbrnd
				where 1=1
				and brand_id like CONCAT(#{codeId}, '%') 
				and brand_nm like CONCAT('%',#{codeNm}, '%') 
    	]]>
		
	</select>
	
	
	        
	<select id="getPurchaseVendorSearchList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	    	<![CDATA[
			select id codeId,vd_nm codeNm
				from cmvdmr
				where 1=1
				and id like CONCAT(#{codeId}, '%')
				and vd_nm like CONCAT('%',#{codeNm}, '%') 
				and vendor_type='01'
    	]]>
		
	</select>    


	<select id="getCommonPurchaseVendor" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	    	<![CDATA[
			select id as value,vd_nm as label
				from cmvdmr
				where 1=1
				and vendor_type='01'
    	]]>
		
	</select>    
	
	<select id="getCommonStorage" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	    	<![CDATA[
			select storage_id as value,storage_nm as label
				from cmstgm
				where 1=1
					]]>
				 <if test='storageType != null'>
			 		<![CDATA[
			 		and storage_type =#{storageType}	
			 	]]>
				</if>
					 <if test='storageId != null'>
			 		<![CDATA[
			 		and storage_id =#{storageId}	
			 	]]>
				</if>
	</select>    
	


</mapper>