<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.spring.infrastructure.mybatis.mapper.GoodsMapper">


   <select id="selectGoodsListAll" resultType="HashMap">
    	<![CDATA[
		select * from itasrt 		
    	]]>
    </select>

	<select id="selectMaxSeqItasrt" resultType="string">
    	<![CDATA[
		select max(seq)+1 seq from itasrt where assort_id = #{assortId}
		]]>
    </select>

	<select id="selectMaxSeqItvari" resultType="string">
    	<![CDATA[
		select max(seq)+1 seq from itvari where assort_id = #{assortId}
		]]>
    </select>

	<select id="selectMaxSeqItasrd" resultType="string">
    	<![CDATA[
		select max(seq)+1 seq from itasrd where assort_id = #{assortId}
		]]>
    </select>

	<select id="selectMaxItemIdItitmm" resultType="string">
    	<![CDATA[
		select max(item_id)+1 item_id from ititmm where assort_id = #{assortId}
		]]>
    </select>

	<select id="selectOneSeqOptionNm" resultType="HashMap">
    	<![CDATA[
		select seq, option_gb from itvari where assort_id = #{assortId} and option_nm = #{optionNm}
		]]>
    </select>

	<insert id="insertGoods">
		<![CDATA[ 
		insert into  itasrt
		(assort_id
		
		,reg_dt
		,reg_id
		,upd_id
		,upd_dt
		
		,assort_nm 
		,assort_color
		,disp_category_id
		,brand_id
		,origin
		,manufacture_nm
		,assort_model
		,tax_gb
		,assort_state
		,shortage_yn
		,sell_sta_dt 
		,sell_end_dt
		,local_price
		,local_sale
		,deli_price
		,margin
		,vendor_id 
		
		,mdRrp
		,mdYear
		,mdTax
		,mdVatrate
		,mdDiscountRate
		,mdGoodsVatrate
		
		
		,buyWhere
		,buySupplyDiscount
		,buyRrpIncrement
		,buyTax
		,mdMargin
		,buyExchangeRate
		)
		
		values(
		#{assortId}
				
		,#{regDt}
		,#{regId}
		,#{updId}
		,#{updDt}
		
		,#{assortNm}
		,#{assortColor}
		,#{dispCategory}
		,#{brandId}
		,#{origin}
		,#{manufactureNm}
		,#{assortModel}
		,#{taxGb}
		,#{assortState}
		,#{shortageYn}
		,#{sellSta}
		,#{sellEnd}
		,#{localPrice}
		,#{localSale}
		,#{deliPrice}
		,#{margin}
		,#{vendorId}
		
		,#{mdRrp}
		,#{mdYear}
		,#{mdTax}
		,#{mdVatrate}
		,#{mdDiscountRate}
		,#{mdGoodsVatrate}
		
		,#{buyWhere}
		,#{buySupplyDiscount}
		,#{buyRrpIncrement}
		,#{buyTax}
		,#{mdMargin}
		,#{buyExchangeRate}
		)
		]]>
	</insert>

	
	<select id="getGoodsList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
			select
			i.assort_id as assortId
			 ,i.assort_nm as assortNm
			 ,i.shortage_yn as shortageYn
			 ,i.brand_id as brandId
			 ,ib.brand_nm as brandNm
			 ,i.disp_category_id as dispCategoryId
 			 ,ic.category_nm as categoryNm
			 ,f_categoryFullPath(i.disp_category_id) fullCategoryNm
		from itasrt i
		LEFT JOIN itbrnd ib ON i.brand_id = ib.brand_id
		LEFT JOIN itcatg ic ON i.disp_category_id = ic.category_id
		where 	1=1
		  and i.reg_Dt between #{regDtBegin} and  #{regDtEnd}
		  and i.shortage_yn =#{shortageYn}
		<if test='assortId != null'>
			<![CDATA[
			and i.assort_id = #{assortId}
			]]>
		</if>
		<if test='assortNm != null'>
			<![CDATA[
			and i.assort_nm like concat('%',#{assortNm},'%')
			]]>
		</if>
	</select>	




	
	<select id="getGoodsItemList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	  <![CDATA[	
			select
			i.assort_id as assortId
			 ,i.assort_nm as assortNm
			 ,i.shortage_yn as shortageYn
			 ,im.item_id as itemId
			 ,im.short_yn as itemShortageYn
			 ,(select iv.option_nm from itvari iv where iv.assort_id = im.assort_id and iv.seq = im.variation_seq1 and iv.variation_gb='01' and del_yn='02' ) optionNm1
			 ,(select iv.option_nm from itvari iv where iv.assort_id = im.assort_id and iv.seq = im.variation_seq2 and iv.variation_gb='02' and del_yn='02' ) optionNm2			 
			 ,i.brand_id as brandId
			 ,ib.brand_nm as brandNm
			 ,i.disp_category_id as dispCategoryId
 			 ,ic.category_nm as categoryNm
			 ,f_categoryFullPath(i.disp_category_id) fullCategoryNm
			 ,i.md_rrp mdRrp
			 ,i.buy_supply_discount buySupplyDiscount
		from itasrt i
		LEFT JOIN itbrnd ib ON i.brand_id = ib.brand_id
		LEFT JOIN itcatg ic ON i.disp_category_id = ic.category_id
		,ititmm im		
		where 	1=1
		
		]]>
	<if test='assortId != null'>
			 <![CDATA[		
		and i.assort_id = #{assortId}
			 ]]>
			</if>
	<if test='assortNm != null'>
			 <![CDATA[		
		and i.assort_nm like CONCAT( '%',  #{assortNm}, '%') 
			 ]]>
			</if>		
					
				 		<![CDATA[		  
		  and i.reg_Dt between #{regDtBegin} and  #{regDtEnd}
		  and i.shortage_yn =#{shortageYn}
		  and i.assort_id = im.assort_id
		  ]]>
	</select>	
	
	
	<select id="getGoodsItemListWithCategory" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	 <![CDATA[	

			select aaa.assortId assortId
			,aaa.assortNm assortNm
			,aaa.shortageYn shortageYn
			,aaa.itemId
			,aaa.itemShortageYn
			,aaa.optionNm1
			,aaa.optionNm2
			,aaa.brandId
			,aaa.brandNm
			,aaa.dispCategoryId dispCategoryId
			,aaa.categoryNm categoryNm
			,aaa.fullCategoryNm fullCategoryNm
			,aaa.mdRrp 
			,aaa.buySupplyDiscount
			,aaa.fullCatePathId fullCatePathId
			from (
			select
			i.assort_id as assortId
			 ,i.assort_nm as assortNm
			 ,i.shortage_yn as shortageYn
			 ,im.item_id as itemId
			 ,im.short_yn as itemShortageYn
			 ,(select iv.option_nm from itvari iv where iv.assort_id = im.assort_id and iv.seq = im.variation_seq1 and iv.variation_gb='01' and del_yn='02' ) optionNm1
			 ,(select iv.option_nm from itvari iv where iv.assort_id = im.assort_id and iv.seq = im.variation_seq2 and iv.variation_gb='02' and del_yn='02' ) optionNm2			 
			 ,i.brand_id as brandId
			 ,ib.brand_nm as brandNm
			 ,i.disp_category_id as dispCategoryId
 			 ,ic.category_nm as categoryNm
			 ,f_categoryFullPath(i.disp_category_id) fullCategoryNm
			 ,i.md_rrp mdRrp
			 ,i.buy_supply_discount buySupplyDiscount
			 	,f_categoryFullPathId(i.disp_category_id) fullCatePathId
		from itasrt i
		LEFT JOIN if_brand ib ON i.brand_id = ib.channel_brand_id
		LEFT JOIN itcatg ic ON i.disp_category_id = ic.category_id
		,ititmm im		
			where 1=1
			and i.assort_id = im.assort_id 
			 ]]>
			<if test='assortId != null'>
			 <![CDATA[		
					and i.assort_id =#{assortId} 
			 ]]>
			</if>		
			<if test='assortNm != null'>
			 <![CDATA[		
				and i.assort_nm like CONCAT( '%',  #{assortNm}, '%') 
			 ]]>
			</if>		
			<if test='vendorId != null'>
			 <![CDATA[		
					and i.vendor_id =#{vendorId} 
			 ]]>
			</if>		
			<if test='brandId != null'>
			 <![CDATA[		
					and ib.brand_id =#{brandId}
			 ]]>
			</if>			
		 <![CDATA[		
			) aaa
			where 1=1
			 ]]>
			<if test='category != null'>
				 <![CDATA[		
			and aaa.fullCatePathId like CONCAT( #{category}, '%')
			]]>
			</if>	
			 <![CDATA[				 
	 		COLLATE utf8mb4_unicode_ci
	 		]]>
	
	</select>

	
	<select id="getGoodsStockList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	 <![CDATA[	
		select aa.storage_id storageId 
		,bb.storage_nm storageNm 
		,aa.assort_id assortId 
		,cc.assort_nm assortNm
		,aa.item_id itemId
		 ,  (select b1.option_nm
		                from ititmm b2, itvari b1
		                where b2.assort_id=aa.assort_id
		                  And b2.item_id= aa.item_id
		                  And  b2.assort_id = b1.assort_id
		                  and b2.variation_gb1 = b1.variation_gb
		                  and  b2.variation_seq1=b1.seq) optionNm1
		           ,    (select b1.option_nm
		                from ititmm b2, itvari b1
		                where b2.assort_id=aa.assort_id
		                  And b2.item_id= aa.item_id
		                  And  b2.assort_id = b1.assort_id
		                  and b2.variation_gb2 = b1.variation_gb
		                  and  b2.variation_seq2=b1.seq) optionNm2
		,aa.ship_indicate_qty
		,aa.qty
		from (
		select storage_id
		,assort_id ,item_id ,item_grade 
		,sum(ship_indicate_qty) ship_indicate_qty
		,sum(qty) qty
		from ititmc i 
		group by storage_id,assort_id ,item_id ,item_grade 
		) aa,cmstgm bb
		 ,itasrt cc
		where aa.storage_id = bb.storage_id 
		 and aa.assort_id = cc.assort_id 
		]]>
			<if test='assortId != null'>
			 <![CDATA[		
					and cc.assort_id =#{assortId} 
			 ]]>
			</if>			
			<if test='storageId != null'>
			 <![CDATA[		
					and bb.storage_id =#{storageId} 
			 ]]>
			</if>						
	</select>
</mapper>