<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.spring.infrastructure.mybatis.mapper.MoveMapper">



    
    <select id="getOrderMoveList" parameterType="java.util.HashMap"  resultType="HashMap">
    	 <![CDATA[	
select ld.deposit_no depositNo 
,ld.deposit_seq depositSeq
,concat(ld.deposit_no ,'-',ld.deposit_seq) depositKey
,ld.assort_id assortId
,ld.item_id  itemId
,lm.deposit_dt depositDt 
,tod.order_id orderId 
,tod.order_seq orderSeq
,concat(tod.order_id  ,'-',tod.order_seq) orderKey
,tod.deli_method  deliMethod
,tod.qty qty 
,tod.storage_id orderStorageId
,it.assort_nm  assortNm
, (select b1.option_nm
from ititmm b2, itvari b1
where b2.assort_id=tod.assort_id
  And b2.item_id= tod.item_id
  And  b2.assort_id = b1.assort_id
  and b2.variation_gb1 = b1.variation_gb
  and  b2.variation_seq1=b1.seq) optionNm1
 , (select b1.option_nm
from ititmm b2, itvari b1
where b2.assort_id=tod.assort_id
  And b2.item_id= tod.item_id
  And  b2.assort_id = b1.assort_id
  and b2.variation_gb2 = b1.variation_gb
  and  b2.variation_seq2=b1.seq) optionNm2
from lsdpsm lm
,lsdpsd ld
,itasrt it
,lspchd pd
,lspchm pm
,tb_order_detail tod 
where 1=1
and lm.deposit_dt between #{startDt} and  #{endDt}
and lm.deposit_no = ld.deposit_no 
and ld.assort_id = it.assort_id 
and ld.input_no =pd.purchase_no 
and ld.input_seq =pd.purchase_seq
and pd.purchase_no =pm.purchase_no 
and pm.purchase_gb='01'
and pd.order_id = tod.order_id 
and pd.order_seq = tod.order_seq
and tod.status_cd ='C01'
    	 ]]>
    	 <if test='storageId != null'>
			 <![CDATA[
			 and lm.store_cd =#{storageId}	
			 ]]>
			</if>
<if test='assortId != null'>
			 <![CDATA[
			 and it.assort_id =#{assortId}	
			 ]]>
			</if>
			
	<if test='assortNm != null'>
			 <![CDATA[		
		and it.assort_nm like CONCAT( '%',  #{assortNm}, '%') 
			 ]]>
			</if>		
			
			
				<if test='deliMethod != null'>
			 <![CDATA[		
		 		and tod.deli_method =#{deliMethod}	
			 ]]>
			</if>	
			
			
					
    </select>
    
    
    

</mapper>