<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.spring.infrastructure.mybatis.mapper.OrderMapper">

	<select id="selectOrderListByCondition" resultType="HashMap">

		<![CDATA[
select dd.*, cc.cust_nm cust_nm, cc.cust_tel cust_tel
from (select aa.channel_gb channel_gb,
             aa.order_date,
             aa.order_id,
             aa.cust_id cust_id,
             bb.status_cd,
             bb.assort_id,
             bb.goods_nm,
             bb.option_info,
             bb.qty,
             bb.sale_price,
             bb.deli_price,
             bb.dc_sum_price,
             aa.order_status,
             (bb.sale_price + bb.deli_price - bb.dc_sum_price) total_price
      from tb_order_master aa,
           tb_order_detail bb
      where 1 = 1
        and aa.order_id = bb.order_id
        and aa.order_date between #{orderFromDt} and #{orderEndDt}
        and aa.channel_gb like CONCAT(#{channelGb}, '%')
    ]]>
		<if test='channelOrderNo != null'>
			<![CDATA[
			and aa.channel_order_no = #{channelOrderNo}
			]]>
		</if>
		<if test='statusCd != null'>
			<![CDATA[
			and  bb.status_cd = #{statusCd}
			]]>
		</if>
		<if test='goodsId != null'>
			<![CDATA[
				and  bb.assort_id = #{assortId}
			]]>
		</if>
		<![CDATA[
		) dd
         left join tb_member cc
                   on cc.cust_id = dd.cust_id;
		]]>
		<if test='custNm != null'>
			<![CDATA[
				and cc.cust_nm like CONCAT(#{custNm},'%' )
			]]>
		</if>
		<if test='custTel != null'>
			<![CDATA[
				and  cc.cust_tel = #{custTel}
			]]>
		</if>
		<if test='custHp != null'>
			<![CDATA[
				and cc.cust_hp = #{custHp}
			]]>
		</if>
	</select>

	<select id="selectOrderListByConditionOriginal" resultType="HashMap">

		<![CDATA[
		select aa.channel_gb
		,aa.order_date
		,aa.order_id
		,bb.status_cd
		,cc.cust_nm
		,cc.cust_tel
		,bb.assort_id
		,bb.goods_nm
		,bb.option_info
		,bb.qty
		,bb.sale_price
		,bb.deli_price
		,bb.dc_sum_price
		,(bb.sale_price + bb.deli_price - bb.dc_sum_price) total_price
		from tb_order_master aa
		,tb_order_detail bb
		,tb_member cc
		where 1=1
		and aa.order_id = bb.order_id
		and aa.cust_id = cc.cust_id
		and aa.order_date between  STR_TO_DATE(#{orderFromDt}, '%Y-%m-%d %H:%i:%s')
		and STR_TO_DATE(#{orderEndDt}, '%Y-%m-%d %H:%i:%s')
		and aa.channel_gb like CONCAT(#{channelGb},'%' )
    	]]>
		<if test='channelOrderNo != null'>
			<![CDATA[
			and aa.channel_order_no = #{channelOrderNo}
			]]>
		</if>
		<if test='statusCd != null'>
			<![CDATA[
			and  bb.status_cd = #{statusCd}
			]]>
		</if>
		<if test='goodsId != null'>
			<![CDATA[
				and  bb.assort_id = #{assortId}
			]]>
		</if>
		<if test='custNm != null'>
			<![CDATA[
				and cc.cust_nm like CONCAT(#{custNm},'%' )
			]]>
		</if>
		<if test='custTel != null'>
			<![CDATA[
				and  cc.cust_tel = #{custTel}
			]]>
		</if>
		<if test='custHp != null'>
			<![CDATA[
				and cc.cust_hp = #{custHp}
			]]>
		</if>

	</select>
	
	<select id="getOrderMasterList" parameterType="java.util.HashMap"  resultType="HashMap">
	<![CDATA[
		select tom.channel_gb channelGb
		,tom.order_date orderDate
		,tom.order_id orderId
		,case 
		when SUBSTR(order_status FROM 1 FOR 1) in ('s','d','g','p') then
			'결제완료'
		when SUBSTR(order_status FROM 1 FOR 1) ='o' then
		'결제전'	
		else
		'결제실패 및 취소'
		end payStatus
		,tom.channel_order_no channelOrderNo 
		 ,tm.cust_id custId 
		 ,tm.cust_nm custNm
		,(select tod2.goods_nm from tb_order_detail tod2 where tod2.order_id = tom.order_id and tod2.order_seq='0001') goodsNm 
		,tom.total_goods_price  totalGoodsPrice
		,tom.total_delivery_charge  totalDeliveryCharge
		,tom.total_goods_price +  tom.total_delivery_charge totalPrice
		,tom.order_amt orderAmt
		,tom.pay_gb payGb
		,tom.pay_dt payDt
		,tom.channel_order_no  channelOrderNo
		,tma.deli_nm deliNm
		,tma.deli_hp deliHp
		,tma.deli_tel deliTel
		from tb_order_master tom
		 LEFT OUTER JOIN tb_member AS tm    -- A_TABLE 기준
		              ON tom.cust_id = tm.cust_id
		 LEFT OUTER JOIN tb_member_address AS tma    -- A_TABLE 기준
			  ON tom.cust_id = tma.cust_id
		where  1=1
		and tom.order_status not like 'f%'
		and tom.order_date between #{startDt} and  #{endDt}
	]]>
	<if test='orderId != null'>
			<![CDATA[
				and tom.order_id =#{orderId}
			]]>
		</if>
		<if test='orderStatus != null'>
			<![CDATA[
				and tom.order_status =#{orderStatus}
			]]>
		</if>
	<if test='custNm != null'>
			<![CDATA[
				and tm.cust_nm like CONCAT(#{custNm},'%' )
			]]>
		</if>
		<if test='custHp != null'>
		<![CDATA[
				and tm.cust_hp = #{custHp}
			]]>
		</if>
		<if test='custTel != null'>
			<![CDATA[
				and tm.cust_tel = #{custTel}
			]]>
		</if>
		<if test='deliNm != null'>
			<![CDATA[
				and tma.deli_nm = #{deliNm}
			]]>
		</if>
		<if test='deliHp != null'>
			<![CDATA[
				and tma.deli_hp = #{deliHp}
			]]>
		</if>
		<if test='deliTel != null'>
			<![CDATA[
				and tma.deli_tel = #{deliTel}
			]]>
		</if>
		<if test='channelOrderNo != null'>
			<![CDATA[
				and tom.channel_order_no =#{channelOrderNo}
			]]>
		</if>	
	
	</select>
	
	
	
	<select id="getOrderMaster" parameterType="java.util.HashMap"  resultType="HashMap">
	<![CDATA[
			
		select 
		tom.channel_gb channelGb
		,tom.order_id orderId
		,tom.order_date orderDate
		,tom.channel_order_no channelOrderNo
		,tom.cust_id custId
		,tom.cust_pcode custPcode
		,tm.cust_nm  custNm
		,tm.cust_tel  custTel
		,tm.cust_hp custHp
		,tm.cust_zipcode  custZipcode
		,tm.cust_addr1  custAddr1
		,tm.cust_addr2 custAddr2
		,tma.deli_nm  deliNm
		,tma.deli_tel  deliTel
		,tma.deli_hp  deliHp
		,tma.deli_zipcode  deliZipcode
		,tma.deli_addr1  deliAddr1
		,tma.deli_addr2 deliAddr2
		,tom.pay_gb  payGb
		,tom.order_amt  orderAmt
		,tom.total_goods_price   totalGoodsPrice
		,tom.total_delivery_charge   totalDeliveryCharge
		,0.0 totalDiscountPrice
		,0.0 totalUseMileage
		from tb_order_master tom
		,tb_member tm 
		,tb_member_address tma 
		where tom.order_id =#{orderId}
		and tom.cust_id  = tm.cust_id 
		and tom.deli_id  = tma.deli_id 
		
		
			
	
		]]>
	
	
	</select>
	
<select id="getOrderDetail" parameterType="java.util.HashMap"  resultType="HashMap">
	<![CDATA[
			
		
 select 
 tod.order_id orderId
 ,tod.order_seq  orderSeq
 ,concat(tod.order_id,'-',tod.order_seq) orderKey
 ,tod.channel_order_no   channelOrderNo
 ,tod.channel_order_seq  channelOrderSeq
 ,tod.status_cd  statusCd
 ,tod.assort_id  assortId
 ,tod.item_id itemId
 ,tod.goods_nm  goodsNm
 ,tod.option_info optionInfo
  ,  (select b1.option_nm
                from ititmm b2, itvari b1
                where b2.assort_id=tod.assort_id
                  And b2.item_id= tod.item_id
                  And  b2.assort_id = b1.assort_id
                  and b2.variation_gb1 = b1.variation_gb
                  and  b2.variation_seq1=b1.seq) optionNm1
           ,    (select b1.option_nm
                from ititmm b2, itvari b1
                where b2.assort_id=tod.assort_id
                  And b2.item_id= tod.item_id
                  And  b2.assort_id = b1.assort_id
                  and b2.variation_gb2 = b1.variation_gb
                  and  b2.variation_seq2=b1.seq) optionNm2
 ,tod.qty qty 
 ,tod.sale_price  salePrice
 ,tod.delivery_info  deliveryInfo
 ,case 
 when tod.scm_no = 64 then '공급사' 
 when tod.scm_no = 63 then '공급사'
 else '본사'
 end scmType
 ,tod.deli_price deliPrice
 ,tod.deli_method  deliMethod
 ,tod.list_image_data  listImageData
 from tb_order_detail tod 
 ,tb_order_master tom
 where  tod.order_id  = #{orderId}
 and tod.order_id = tom.order_id

		
			
	
		]]>
	
	
	</select>	
	
	<select id="getOrderDetailList" parameterType="java.util.HashMap"  resultType="HashMap">
	<![CDATA[
	
select aa.channel_gb channelGb
		,aa.order_date orderDate
		,bb.order_id orderId
		,bb.order_seq orderSeq
		,concat(bb.order_id,'-',bb.order_seq) orderKey
		,bb.status_cd statusCd
		,cc.cust_nm custNm
		,bb.assort_id assortId
		,bb.item_id  itemId
		,bb.goods_nm goodsNm
 ,  (select b1.option_nm
                from ititmm b2, itvari b1
                where b2.assort_id=bb.assort_id
                  And b2.item_id= bb.item_id
                  And  b2.assort_id = b1.assort_id
                  and b2.variation_gb1 = b1.variation_gb
                  and  b2.variation_seq1=b1.seq) optionNm1
           ,    (select b1.option_nm
                from ititmm b2, itvari b1
                where b2.assort_id=bb.assort_id
                  And b2.item_id= bb.item_id
                  And  b2.assort_id = b1.assort_id
                  and b2.variation_gb2 = b1.variation_gb
                  and  b2.variation_seq2=b1.seq) optionNm2	
                  	,bb.option_info optionInfo
		,bb.qty qty
		,bb.sale_price salePrice
		,bb.deli_price deliPrice
		,bb.dc_sum_price dcSumPrice
		,(bb.sale_price + bb.deli_price - bb.dc_sum_price) totalPrice 
		,bb.list_image_data listImageData
		,bb.channel_order_no  channelOrderNo
		,bb.channel_order_seq  channelOrderSeq		
		from tb_order_master aa
		,tb_order_detail bb
		,tb_member cc
		where 1=1
		and aa.order_id = bb.order_id
		and aa.cust_id = cc.cust_id
		and aa.order_date between #{startDt} and  #{endDt}
		

		]]>
	<if test='statusCd != null'>
			<![CDATA[
				and bb.status_cd =#{statusCd}
			]]>
		</if>		
	<if test='orderId != null'>
			<![CDATA[
				and aa.order_id =#{orderId}
			]]>
		</if>
	<if test='channelOrderNo != null'>
			<![CDATA[
				and bb.channel_order_no =#{channelOrderNo}
			]]>
		</if>	
	</select>	
	
	
</mapper>