<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.spring.infrastructure.mybatis.mapper.PurchaseMapper">
    <select id="selectPurchaseListByCondition" resultType="HashMap">
        <![CDATA[
        select a.purchase_no,
               b.purchase_seq,
               a.purchase_vendor_id,
               b.assort_id,
               b.item_id,
               b.purchase_qty,
               b.purchase_unit_amt,
               b.site_order_no,
               (select b1.option_nm
                from ititmm b2, itvari b1
                where b2.assort_id=b.assort_id
                  And b2.item_id= b.item_id
                  And  b2.assort_id = b1.assort_id
                  and b2.variation_gb1 = b1.variation_gb
                  and  b2.variation_seq1=b1.seq) opt1,
               (select b1.option_nm
                from ititmm b2, itvari b1
                where b2.assort_id=b.assort_id
                  And b2.item_id= b.item_id
                  And  b2.assort_id = b1.assort_id
                  and b2.variation_gb2 = b1.variation_gb
                  and  b2.variation_seq2=b1.seq) opt2
        from lspchm a,
             lspchd b
        where a.purchase_dt between #{startDt} and #{endDt}
          and a.purchase_vendor_id = #{purchaseVendorId}
          and a.purchase_no = b.purchase_no
          and b.assort_id = #{assortId}
          and a.purchase_status = #{purchaseStatus}
        ]]>
    </select>
    
    
    

    <select id="getOrderListByPurchaseVendor" parameterType="java.util.HashMap"  resultType="HashMap">
    	
    	<![CDATA[
	
				select
					bbb.vendor_id purchaseVendorId,
					bbb.vd_nm purchaseVendorName,
					sum(bbb.qty) purchaseVendorQty
				from
					(
					select
						aaaa.vendor_id ,
						aaaa.vd_nm ,
						sum(aaaa.qty) qty 
					from
						(
						select
							ifnull(bbb.vendor_id, '000000')vendor_id ,
							ifnull((select bb.vd_nm from cmvdmr bb where bb.vendor_id = bbb.vendor_id), '거래처없음') vd_nm ,
							aaa.*
						from
							(
							select
								tod.assort_id ,
								tod.item_id ,
								tod.qty 
							from
								tb_order_detail tod
							where
								status_cd = 'B01' ) aaa ,
							itasrt bbb
						where
							1 = 1
							and aaa.assort_id = bbb.assort_id
							 ) aaaa
					group by
						aaaa.vendor_id ,
						aaaa.vd_nm
				union ALL
					select
						cc.vendor_id,
						cc.vd_nm ,
						0 qty 
					from
						cmvdmr cc ) bbb
				group by
					bbb.vendor_id ,
					bbb.vd_nm

	
			]]>
		
		 		
    </select>
         <select id="getPurchase" parameterType="java.util.HashMap"  resultType="HashMap">
    
		    select aaa.purchase_no 
		,aaa.purchase_dt 
		,aaa.purchase_status 
		,aaa.purchase_gb 
		,aaa.purchase_vendor_id 
		,ifnull((select bb.vd_nm from cmvdmr bb where bb.vendor_id = aaa.purchase_vendor_id), '거래처없음') vd_nm 
		,aaa.store_cd 
		,(select bb.storage_nm from cmstgm bb where bb.storage_id = aaa.store_cd) vd_nm 
		,aaa.terms 
		,aaa.delivery 
		,aaa.payment 
		,aaa.carrier 
		from lspchm aaa
		where aaa.purchase_no=#{purchaseNo}
      </select>

        <select id="getPurchaseItems" parameterType="java.util.HashMap"  resultType="HashMap">
				        
				select aaa.purchase_no,
				aaa.purchase_seq,
				ddd.purchase_gb,
				aaa.order_id,
				aaa.order_seq,
				ccc.assort_id,
				ccc.item_id,
				bbb.assort_nm,
				(select tod.deli_method from tb_order_detail tod where tod.order_id = aaa.order_id and tod.order_seq = aaa.order_seq) deli_method ,
				(
									select
										iv.option_nm
									from
										itvari iv
									where
										iv.assort_id = ccc.assort_id
										and iv.seq = ccc.variation_seq1
										and iv.variation_gb = '01'
				and del_yn = '02' ) option_nm1 ,
				
				(
				select
					iv.option_nm
				from
					itvari iv
				where
					iv.assort_id = ccc.assort_id
					and iv.seq = ccc.variation_seq2
					and iv.variation_gb = '02'
				and del_yn = '02' ) option_nm2
				,bbb.md_rrp 
				,bbb.buy_supply_discount 
				,aaa.purchase_qty 
				,aaa.purchase_unit_amt 
					from lspchd aaa,
						lspchm ddd,
					itasrt bbb,
					ititmm ccc
				
				where
					1 = 1
					and aaa.purchase_no=#{purchaseNo}
					and aaa.purchase_no = ddd.purchase_no
				and aaa.assort_id = bbb.assort_id
				and aaa.assort_id = ccc.assort_id
				and aaa.item_id = ccc.item_id
        
        
        </select>
    

    <select id="getOrderListByPurchaseVendorItem" parameterType="java.util.HashMap"  resultType="HashMap">
    	
    	<![CDATA[
				select
					bbb1.order_id orderId,
					bbb1.order_seq orderSeq,
					bbb1.vendor_id vendorId,
					bbb1.vd_nm vdNm, 
					bbb1.assort_id assortId,
					bbb1.assort_nm assortNm,
					bbb1.item_id itemId,
					concat(bbb1.option_nm1, ifnull(CONCAT('-', bbb1.option_nm2), '')) optionNm,
					bbb1.qty purchaseQty,
					bbb1.md_rrp rrp,
					bbb1.buy_supply_discount discountRate
				from
					(
					select
						ifnull(bbb.vendor_id, '000000') vendor_id ,
						ifnull((select bb.vd_nm from cmvdmr bb where bb.vendor_id = bbb.vendor_id), '거래처없음') vd_nm ,
						bbb.assort_nm ,
						bbb.md_rrp ,
						bbb.buy_supply_discount ,
						aaa.* ,
						(
						select
							iv.option_nm
						from
							itvari iv
						where
							iv.assort_id = ccc.assort_id
							and iv.seq = ccc.variation_seq1
							and iv.variation_gb = '01'
							and del_yn = '02' ) option_nm1 ,
						(
						select
							iv.option_nm
						from
							itvari iv
						where
							iv.assort_id = ccc.assort_id
							and iv.seq = ccc.variation_seq2
							and iv.variation_gb = '02'
							and del_yn = '02' ) option_nm2
					from
						(
						select
						tod.order_id,
						tod.order_seq,
							tod.assort_id ,
							tod.item_id ,
							tod.qty 
						from
							tb_order_detail tod
						where
							status_cd = 'B01' ) aaa ,
						itasrt bbb,
						ititmm ccc
					where
						1 = 1
						and aaa.assort_id = bbb.assort_id
						and aaa.assort_id = ccc.assort_id
						and aaa.item_id = ccc.item_id
						 ) bbb1
				where
					bbb1.vendor_id = #{vendorId}
			


	
			]]>
		
		 		
    </select>
    
    
</mapper>

